body{
    padding: 0;
    margin: 0;
}

nav{
    position: fixed;
    top: 0;
    right: 0;
    background-color: #76b852;
    height: 48px;
    width: 100%;
    box-shadow: 0 6px 6px 0 rgba(105, 102, 102, 0.3);
}

h2 {
    margin: 0px 0px 0px 15px;
    padding: 15px 0px 0px 0px;
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

ul {
    float: right;
    background-color: #76b852;
    padding: 0;
    margin: 0;
}

li{
    display: inline-block;
    /* padding: 5px 3px; */
    list-style: none;
    margin-right: 15px;
}

li a {
    display: block;
    margin: 0px 3px;
    font-size: 1.1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 13px 3px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;

}

li:hover, li:active {
    background-color: #ffffff;   
    transition: 0.3s;
}

li a:hover{
    color: #88be6a;
}

.container{
    margin-top: 55px;
    height: 500px;
    width: 100%;
    background-color: #ccffcc;
}

.sortTools{
    padding: 30px 200px;
}

p.sortCriteria{
    display: inline;
    padding: 10px 20px;
    font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

select#productCategories{
    font-size: 1.0em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
select#priceCategories{
    font-size: 1.0em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}